<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Ventas</span>
      <button class="btn btn-dark btn-lg" style="margin-left: 900px" routerLink="/create-venta">Agregar</button>
      <table class="table table-striped table-hover mt-4 ">
        <thead>
        <tr style="text-align: center">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Opción de molienda</th>
          <th>Kilos a moler</th>
          <th>Precio por kilo</th>
          <th>Total a pagar</th>
          <th>Fecha</th>
          <th>Teléfono</th>
          <th>Forma de pago</th>
          <th>Estatus del pedido</th>
          <th>Editar o Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center">
          <td>Jesus</td>
          <td>Garcia</td>
          <td>Chocolate</td>
          <td>4</td>
          <td>15</td>
          <td>60</td>
          <td>01/01/2022</td>
          <td>9511054001</td>
          <td>Efectivo</td>
          <td>Entregado</td>
          <td>
            <i class="fa-solid fa-user-pen fa-lg text-info"style="margin-right: 5px"></i>
            <i class="fa-solid fa-trash-can fa-lg text-danger"style="margin-left: 5px"></i>
          </td>
        </tr>
        <tr style="text-align: center">
          <td>Jesus</td>
          <td>Garcia</td>
          <td>Chocolate</td>
          <td>4</td>
          <td>15</td>
          <td>60</td>
          <td>01/01/2022</td>
          <td>9511054001</td>
          <td>Efectivo</td>
          <td>Entregado</td>
          <td>
            <i class="fa-solid fa-user-pen fa-lg text-info"style="margin-right: 5px"></i>
            <i class="fa-solid fa-trash-can fa-lg text-danger"style="margin-left: 5px"></i>
          </td>
        </tr>
        <tr style="text-align: center">
          <td>Jesus</td>
          <td>Garcia</td>
          <td>Chocolate</td>
          <td>4</td>
          <td>15</td>
          <td>60</td>
          <td>01/01/2022</td>
          <td>9511054001</td>
          <td>Efectivo</td>
          <td>Entregado</td>
          <td>
            <i class="fa-solid fa-user-pen fa-lg text-info"style="margin-right: 5px"></i>
            <i class="fa-solid fa-trash-can fa-lg text-danger"style="margin-left: 5px"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
